* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* Оформление таймера */

#datetime-picker {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}


#datetime-picker:focus {
  box-shadow: 0 0 8px #ff5e00;
}

.timer {
  display: flex;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-top: 20px;
}


.label {
  font-weight: bold;
  text-transform: uppercase;
  color: #4d3d3d;
  font-size: 10px;
}

.value {
  font-size: 18px;
  font-weight: bold;
  color: #4d3d3d;

}

button[data-start] {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ff8800;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[data-stop] {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ff8000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

button[data-start]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button[data-stop]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}